@import "../global.scss";

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 0 1rem 0;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 0.15rem #21f51b;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.3rem 0;
    color: $blackCollor;
  }
  p {
    font-size: 1rem;
    text-align: center;
    color: $blackCollor;

  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .user {
    margin: 10rem 0 1.2rem 0;
    img {
      width: 150px;
      height: 150px;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 769px) {
  .user {
    margin: 12rem 0 1rem 0;
    img {
      width: 180px;
      height: 180px;
    }
    h2 {
      font-size: 2rem;
      text-align: center;
      margin: 1.2rem 0 0.4rem 0;
      color: $blackCollor;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      color: $blackCollor;
  
    }
  }
}