@import "../../styles/global.scss";

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 26rem;
    width: 100%;
    margin: 3rem 0;
    .projects-title {
        display: flex;
        width: 100%;
        max-width: 26rem;
        font-size: 1.8rem;
        font-weight: normal;
        justify-content: flex-start;
        margin-bottom: 2rem;
        color: $blackColor;
    }
    .carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 24rem;
        .carousel-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .carousel-image {
                height: 20rem;
                width: 20rem;
                border: solid 0.1rem $grayColor;
                border-radius: .5rem .5rem 0 0;;
                transition: 1s ease-in-out;
            }
            .carousel-buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: solid .1rem $blackColor;
                border-top: none;
                border-radius: 0 0 .5rem .5rem;
                width: 20rem;
                transition: 1s ease-in-out;
                .carousel-left-button {
                    display: grid;
                    place-items: center;
                    background-color: transparent;
                    color: $blackColor;
                    border: none;
                    border-radius: 0 0 .5rem 0;
                    font-size: 2rem;
                    height: 5rem;
                    width: 5rem;
                    cursor: pointer;
                    .icon-button {
                        font-size: 1.5rem;
                    }
                }
                .carousel-right-button {
                    display: grid;
                    place-items: center;
                    background-color: transparent;
                    color: $blackColor;
                    border: none;
                    border-radius: 0 0 0 .5rem;
                    font-size: 2rem;
                    height: 5rem;
                    width: 5rem;
                    cursor: pointer;
                    animation: blink 2s ease-in-out infinite;
                    .icon-button {
                        font-size: 1.5rem;
                    }
                }
                .carousel-index {
                    display: grid;
                    place-items: center;
                    font-size: 1.5rem;
                    height: 5rem;
                    width: 5rem;
                }
            }
        }
    }
    .carousel-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        .project-name {
            font-size: 1.6rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: $blackColor;
        }
        .carousel-description-anchor {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            .anchor {
                font-size: 1.5rem;
                color: $blackColor;
                margin-right: 0.2rem;
            }
            .info-button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                .info-icon {
                    font-size: 1.5rem;
                    color: $blackColor;
                }
            }
            .info-mensage {
                display: none;
                position: absolute;
                top: 3rem;
                width: 20rem;
                background-color: #ffffff;
                padding: 2rem;
                border-radius: 1rem;
                p {
                    text-align: center;
                    font-size: 1.6rem;
                    color: $blackColor;
                }
            }
        }
    }
}

@media (max-width: 210px) {
    .projects .carousel .carousel-items {
        .carousel-image {
            display: none;
        }
        .carousel-buttons {
            justify-content: center;
            width: 10rem;
            .carousel-index {
                display: none;
    
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .projects {
        max-width: 32rem;
        margin: 2.5rem 0;
        .projects-title {
            font-size: 2rem;
            max-width: 32rem;
            margin-bottom: 2.5rem;
        }
        .carousel {
            .carousel-items .carousel-image {
                height: 20rem;
                width: 20rem;
            }
        }
        .carousel-description {
            .project-name {
                font-size: 1.8rem;
                margin: 0.3rem 0;
            }
            .carousel-description-anchor {
                .anchor {
                    font-size: 1.7rem;
                }
                .info-button .info-icon {
                    font-size: 1.6rem;
                }
                .info-mensage {
                    top: 4rem;
                    width: 22rem;
                    padding: 3rem 2.5rem;
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .projects {
        max-width: 38rem;
        margin: 2.5rem 0;
        .projects-title {
            font-size: 2.2rem;
            max-width: 38rem;
            margin-bottom: 3rem;
        }
        .carousel {
            .carousel-items {
                .carousel-image {
                    height: 24rem;
                    width: 24rem;
                }
                .carousel-buttons {
                    width: 24rem;
                    .carousel-left-button {
                        display: grid;
                        place-items: center;
                        background-color: transparent;
                        color: $blackColor;
                        border: none;
                        border-radius: 0 0 .5rem 0;
                        font-size: 2rem;
                        height: 5rem;
                        width: 5rem;
                        cursor: pointer;
                        .icon-button {
                            font-size: 1.5rem;
                        }
                    }
                    .carousel-right-button {
                        display: grid;
                        place-items: center;
                        background-color: transparent;
                        color: $blackColor;
                        border: none;
                        border-radius: 0 0 0 .5rem;
                        font-size: 2rem;
                        height: 5rem;
                        width: 5rem;
                        cursor: pointer;
                        .icon-button {
                            font-size: 1.5rem;
                        }
                    }
                    .carousel-index {
                        display: grid;
                        place-items: center;
                        font-size: 1.5rem;
                        height: 5rem;
                        width: 5rem;
                    }
                }
            }
        }
        .carousel-description {
            .project-name {
                font-size: 2rem;
                margin: 0.3rem 0;
            }
            .carousel-description-anchor {
                .anchor {
                    font-size: 1.8rem;
                }
                .info-button .info-icon {
                    font-size: 1.7rem;
                }
                .info-mensage {
                    top: 5rem;
                    width: 24rem;
                    padding: 3rem 1.5rem;
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}