*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#4d58f1, #f83cc0);
    background-repeat: no-repeat;
    height: 100vh;
}
#perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo{
    border: solid 0.1em #ffffff;
    height: 8em;
    width: 8em;
    border-radius: 50%;
}
#link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    height: 3em;
    width: 10em;
    background-color: #0822297e;
    border-radius: 10px;
}
.links:hover{
    background-color: #00000071;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#rodape{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 3em;
    color: #ffffff;
    font-size: 1em;
}
.underline{
    text-decoration: underline;
}
.nome-insta{
    color: #ffffff;
}