
:root{
    --background: #000000;
    --interface: #ffffffce;
    --fontColor1: #ffffff;
    --fontColor2: #000000;
    --fontColor3: #9ddffa;
    --details: #8f8f8f;
    --btnDarkMode: #ffffff;
}
.darkMode:root{
    --background: #ffffff;
    --interface: #000000;
    --fontColor1: #000000;
    --fontColor2: #ffffff;
    --fontColor3: #146b8d;
    --details: #8f8f8f;
    --btnDarkMode: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--background);
        height: 100vh;
        transition: background-color 1.2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        header{
            .containerDarkMode{
                position: relative;
                height: 3em;
                margin-left: 80vw;
                transition: none;
                #darkMode{
                    position: absolute;
                    background-color: var(--background);
                    top: 5vh;
                    cursor: pointer;
                    height: 2em;
                    width: 2em;
                    border: none;
                    border-radius: 50%;
                    .darkModeColor{
                        width: 2em;
                        height: 2em;
                        border-radius: 50%;
                        background-color: var(--btnDarkMode);
                    }
                }
            }
        }
        main{
            #perfil{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .photo{
                    border: solid 0.2em #27fd55;
                    height: 8em;
                    width: 8em;
                    border-radius: 50%;
                    margin-bottom: 1em;
                }
                h1 {
                    font-size: 1.5rem;
                    color: var(--fontColor1);
                }
                p {
                    font-size: 1rem;
                    color: var(--fontColor1);
                }
            }
            #link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1em;
                .links{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1em;
                    height: 3em;
                    width: 10em;
                    background-color: var(--interface);
                    border-radius: 10px;
                    a{
                        color: var(--fontColor2);
                        text-decoration: none;
                        padding: 1em 3em;
                    }
                    a:hover{
                        color: var(--fontColor2);
                        text-decoration: underline;
                    }
                }
                .links:hover{
                    background-color: var(--details);
                }
            }
        }
        footer{
            #rodape{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin-top: 3em;
                color: var(--fontColor1);
                font-size: 1em;
                .underline{
                    color: var(--fontColor3);
                    text-decoration: underline;
                }
            }
        }
    }
}