@import "../../styles/global/global.scss";

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
    margin-top: 0.5rem;
    .links-email {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 0.1rem $whiteCollor;
        border-radius: 50%;
        padding:  0.3rem;
        .email-icon {
            font-size: 1.2rem;
            color: $whiteCollor;
        }
    }
    .links-email:hover {
        background-color: $whiteCollor;
        .email-icon {
            color: $blackCollor;
        }
    }
    .links-phone {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 0.1rem $whiteCollor;
        border-radius: 50%;
        padding:  0.3rem;
        .phone-icon {
            font-size: 1.2rem;
            color: $whiteCollor;
        }
    }
    .links-phone:hover {
        background-color: $whiteCollor;
        .phone-icon {
            color: $blackCollor;
        }
    }
}