@import "../../styles/global/global.scss";

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #0e1a70;
    .main-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
        .links {
            display: flex;
            flex-direction: row-reverse;
            gap: 0.5rem;
            margin: 0.5rem 0 0.8rem 0;
        }
    }
}
@media (min-width: 481px) {
    #main .main-items {
        margin-top: 9rem;
    }
}
@media (min-height: 1260px) {
    #main {
        height: 100vh;
    }
}