@import "../global/global.scss";

#footer {
    height: 4.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $whiteCollor;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    .p-footer {
        font-size: 0.8rem;
        font-weight: 300;
        color: $blackCollor;
        .span-dev-name {
            font-size: 0.8rem;
            font-weight: 300;
            color: $blackCollor;
        }
    }
}